beautifulsoup4
decorator==5.0.9
flake8
fuzzywuzzy[speedup]
ipywidgets
Jinja2==3.0.0
jupyter-client
matplotlib==3.5.1
nbconvert
nbformat
notebook
numpy
pillow
pyyaml
requests
scikit-learn
scipy
torch
xkcd
